{% extends "base.html" %}

{% block title %}
Market
{% endblock %}

{% block search %}
<li class="nav-item {{ active_home }}" style="margin-left: 5px; ">
    <form method="GET" class="form-register" style="color:white">
        <div class="input-group mb-3">

            {{ search_form.game_name(class="form-control", placeholder="Dwight", type="text",
            style="border-top-left-radius: 0.25rem; border-bottom-left-radius: 0.25rem;") }}
            <div class="input-group-append">
                {{ search_form.submit(class="btn btn-outline-secondary") }}
            </div>
        </div>
    </form>
</li>

{% endblock %}

{% block content %}



<div class="row">
    <div class="col-12">
        <h3>Available Games</h3>
        <br>
        <div class="container">
            <div class="row g-2">
                {% if items %}
                {% for item in items %}
                <div class="col-6 ">
                    {% include 'includes/items_modal.html' %}
                    <div class="card " style="width: 25rem; color: black; margin: 1rem;">
                        <img src="{{url_for('static', filename=item.name+'.jpg')}}" class="card-img-top"
                            alt="Game Image">
                        <div class="card-body">
                            <h5 class="card-title">{{item.name}}</h5>
                            <p class="card-text">{{item.desc}}</p>
                        </div>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">{{item.genre}}</li>
                            <li class="list-group-item">{{item.pub}}</li>
                            <li class="list-group-item d-flex justify-content-between">
                                <div>{{item.r_date}}</div>
                                <div>Rs. {{ item.price }}</div>
                            </li>
                        </ul>
                        <div class="card-body d-flex justify-content-between">

                            <button type="button" class="btn btn-outline btn-primary" data-toggle="modal"
                                data-target="#Modal-BuyConfirm-{{ item.name.replace(' ','_') }}">
                                Buy
                            </button>
                            <div>
                                {% for temp in item.pf.split()%}
                                {% if temp != "PC" %}
                                <i class="fab fa-{{temp}}"></i>
                                {% else %}
                                <i class="fas fa-desktop"></i>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% else %}
                <H3>{{ message }}</H3>
                {% endif %}
            </div>

        </div>
    </div>
</div>

{% endblock %}